<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/main.js"></script>        
    <script defer src="js/costumers.js"></script>    
    <link rel="stylesheet" href="css/style.css">    
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <title>Crm Clientes</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">CRM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="iteractions">Iteracciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="users">Usuarios</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="master">

        <p class="nav-link" class="elusuario" id="elusuario" href="">.</p>
        <p class="nav-link" class="titulito" id="titulito">Listado de Clientes</p>
        <a class="link-agregar" id="btn-agregar" href="vcostumer">CLIENTE</a>
    </div>
    <!-- <button id="btn-listado" type="submit" class="btn btn-success">Listar Clientes</button> -->
    <div class="listado-posts" id="listado">
    </div>
</body>
</html>